.roboto-mono-paragraph {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.fira-code-headings {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

html {
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    background: #61ce92;
}

.navbar {
    position: fixed;
    top: 10px; left: 10px; right: 10px;
    border-radius: 15px;
    background-color: #006144;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(10px);
    background-color: rgb(60, 158, 101);
    padding: 0 30px;
}

.navbar p {color: #fff; user-select: none;}


.navbar a {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    font-family: "Roboto Mono";
    text-decoration: none;
    color: #0c2e22;
}

.navbar a:hover {
    background-color: #003223;
    color: #fff;
    transition: 0.3s ease background-color;
}

/* home */
#home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url("images/overlay.png");
    background-size: 100% contain;
    background-position: center;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.heading {
    color: #0c2e22;
    border: 2px solid #185f46;
    background-color: #3b8a72af;
    border-style:dashed ;
    font-family: "Fira Code";
    user-select: none;
    padding: 5px;
    border-radius: 5px;
    font-size: clamp(2.5rem, 6vw, 4.5rem);
    font-weight: 500;
    letter-spacing: -1px;
}

.heading:hover {
    box-shadow: 0 5px 20px #185f46;
    transition: 0.2s ease-in-out box-shadow;
}

.tagline {
    font-family: "Roboto Mono";
    font-size: 1em;
    color: #0c2e22;
    margin-top: -30px;
    background-color: #3b8a72b0;
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
    user-select: none;
}

.tagline:hover {
    box-shadow: 0 5px 20px #185f46;
    transition: 0.2s ease-in-out box-shadow;
}

.checkapps {
    font-family: "Roboto Mono";
    width: fit-content;
    text-decoration: none;
    color: white;
    background-color: #3b8a72;
    padding: 10px;
    border-radius: 10px;
}

.checkapps:hover {
    background-color: #214d3f;
    transition: 0.3s ease-in-out background;
}

/* apps */
#apps {
    display: flex;
    flex-direction: column;
    align-items: center ;
    padding-top: 70px;
    width: 100%;
    height: 100%;
    background-image: url("images/overlay.png");
    background-size: 100% contain;
    background-position: center;
}

.appstitle {
    height: fit-content;
    width: fit-content;
    color: #0c2e22;
    background-color: #3b8a728f;
    border-radius: 10px;
    user-select: none;
    padding: 5px 50px 5px 50px;
    font-family: "Fira Code";
    font-size: 3em;
    font-weight: 500;
    letter-spacing: -1px;
}

.appstitle:hover {
    box-shadow: 0 5px 20px #185f46;
    transition: 0.2s ease-in-out box-shadow;
}



.appscont {
    width: 90%; height: auto;
}

.appslist {
    display: inline-flex;
    justify-content: space-evenly;
    gap: 70px;
    flex-wrap: wrap;
}

.appslist li {
    width: 20vw;
    height: 20vh;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    background: #3b8a72;
    text-decoration: none;
    list-style: none;
    font-family: "Fira Code";
    font-size: 2em;
    text-align: center;
    user-select: none;
    word-wrap: break-word;
    
}

.appslist li:hover {
    background: #225042;
    box-shadow: 0 0 5px 10px #45a185;
    color: #fff;
    transition: 0.3s ease-in-out box-shadow;
}

.appslist li a {
    text-decoration: none;
    color: inherit;
    height: 100%;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}