/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: #3dcf91;
    font-family: "Roboto Mono", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0c2e22;
}

/* Home button */
.home {
    position: absolute;
    top: 16px;
    left: 16px;
    text-decoration: none;
    background: #3b8a72;
    color: white;
    padding: 8px 14px;
    border-radius: 6px;
    font-size: 14px;
}

.home:hover {
    background: #2d6b58;
}

/* App container */
.app {
    background: #11141d;
    padding: 30px;
    border-radius: 12px;
    width: 60%;
    min-width: 300px;
    height: 500px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: "Fira Code", monospace;
    font-size: 2.2rem;
    margin-bottom: 10px;
    color: #3dcf91;
}

.description {
    font-size: 0.95rem;
    margin-bottom: 25px;
    opacity: 1;
    color: #3dcf91;
}

label {
    font-size: 1.2rem;
    text-align: left;
    color: #3dcf91;
}

.container {
    align-self: center;
    background-color: #11141d;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;

}

.settingsh1 {
    font-size: 2em;
}

.settings {
    background-color: #11141d;
    padding: 20px;
    width: fit-content;
    height: inherit;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
}

.settings input {
    height: 20px;
    background-color: #8dcbb1;
    padding-left: 2px;
    border-radius: 4px;
    border: none;
    background: #8dcbb1;
}

#generate {
    flex: none;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background: #3dcf91;
    color: #11141d;
    font-family: "Fira Code", monospace;
    font-size: 16px;
    cursor: pointer;
}

#generate:hover {
    background: #285c4c;
}

.results-container {
    background: #11141d;
    height: inherit;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}   

#password {
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 15px;
    background: #8dcbb1;
}

#copy {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #3dcf91;
    color: #11141d;
    font-family: "Fira Code", monospace;
    font-size: 16px;
    cursor: pointer;
}