.roboto-mono-paragraph {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.fira-code-headings {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    background: #61ce92;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 5px;
}

.home {
    align-self: flex-start;
    position: absolute;
    top: 1%;
    left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 70px;
    height: fit-content;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #3b8a72;
    font-family: "Roboto Mono";
}

.home:hover {
    background-color: #285c4c;
    box-shadow: 0 5px 20px #185f46;
    transition: 0.2s ease-in-out box-shadow;
}

#section1 {
    background-image: url("images/overlay.png");
    background-position: center;
    background-size: contain auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.textcleaner {
    font-family: "Fira Code";
    color: #0c2e22;
    border: 2px solid #185f46;
    background-color: #3b8a72af;
    border-style:dashed ;
    padding: 5px;
    border-radius: 10px;
    font-size: 3.5em;
    user-select: none;
    margin-bottom: 0;
}

.textcleaner:hover {
    box-shadow: 0 5px 20px #185f46;
    transition: 0.2s ease-in-out box-shadow;
}

.description {
    font-size: 1em;
    font-family: "Roboto Mono";
    margin: 20px;
    color: #0c2e22;
    border: none;
    background-color: #3b8a72af;
    padding: 5px;
    border-radius: 10px;
    user-select: none;
}

.description:hover {
    box-shadow: 0 5px 20px #185f46;
    transition: 0.2s ease-in-out box-shadow;
}

.container {
    width: 80%;
    height: 60%;
    background-color: #32704e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: inline-flex;
    gap: 20px;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
}

.output {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
}

#inputArea {
    background-color: #61ce92;
    border: none;
    resize: none;
    height: 90%;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.buttcont {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

#cleantext {
    width: 50%;
    padding: 10px;
    background-color: #3b8a72;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 10px;
    font-family: "Fira Code";
}

#cleantext:hover {
    background-color: #285c4c;
}

#cleartext {
    width: 50%;
    padding: 10px;
    background-color: #3b8a72;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 10px;
    font-family: "Fira Code";
}

#cleartext:hover {
    background-color: #285c4c;
}

#copytext {
    width: 50%;
    padding: 10px;
    background-color: #3b8a72;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 10px;
    font-family: "Fira Code";
}

#copytext:hover {
    background-color: #285c4c;
}

#outputArea {
    resize: none;
    border: none;
    width: 100%;
    height: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #61ce92;
}