.roboto-mono-paragraph {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.fira-code-headings {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    background: #7dcda1;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 5px;
}

.home {
    align-self: flex-start;
    position: absolute;
    top: 1%;
    left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 70px;
    height: fit-content;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #3b8a72;
    font-family: "Roboto Mono";
}

.home:hover {
    background-color: #285c4c;
    box-shadow: 0 5px 20px #185f46;
    transition: 0.2s ease-in-out box-shadow;
}

#section1 {
    background-image: url("images/overlay.png");
    background-position: center;
    background-size: contain auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.unitconverter {
    font-family: "Fira Code";
    color: #0c2e22;
    border: 2px solid #185f46;
    background-color: #3b8a72af;
    border-style:dashed ;
    padding: 5px;
    border-radius: 10px;
    font-size: 3.5em;
    user-select: none;
    margin-bottom: 0;
}

.unitconverter:hover {
    box-shadow: 0 5px 20px #185f46;
    transition: 0.2s ease-in-out box-shadow;
}

.description {
    font-size: 1em;
    font-family: "Roboto Mono";
    margin: 20px;
    color: #0c2e22;
    border: none;
    background-color: #3b8a72af;
    padding: 5px;
    border-radius: 10px;
    user-select: none;
}

.description:hover {
    box-shadow: 0 5px 20px #185f46;
    transition: 0.2s ease-in-out box-shadow;
}

.container {
    width: 80%;
    height: 40%;
    background-color: #32704e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 20px #185f46;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

.input-group, .output-group {
    display: flex;
    height: 50px;
    gap: 10px;
    margin-bottom: 15px;
}

.from, .to {
    font-family: "Roboto Mono";
    align-self: flex-end;
    margin-top: auto;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    flex: 1;
}

input[readonly] {
    background-color: #e9e9e9;
}

