.roboto-mono-paragraph {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.fira-code-headings {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

html {
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

body {
    margin: 0;
    padding: 10px;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    background: #3dcf91;
}

.home {
    position: relative;
    top: 10px;
    left: 10px;
    padding: 8px 14px;
    background: #3b8a72;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
}

.home:hover {
    background: #285c4c;
}   

.themelist {
    position: relative;
    top: 10px; left: 10px; right: 10px;
    border-radius: 15px;
    background-color: #11141d;
    height: 60px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(10px);
    padding: 0 30px;
}

.themelist p {color: #fff; user-select: none;}


.themelist a {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    font-family: "Roboto Mono";
    text-decoration: none;
    color: #3dcf91;
}

.themelist a:hover {
    background-color: #003223;
    color: #fff;
    transition: 0.3s ease background-color;
}