* {
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background: #3dcf91;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home {
    position: absolute;
    top: 16px;
    left: 16px;
    padding: 8px 14px;
    background: #3b8a72;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
}

.home:hover {
    background: #285c4c;
}

.app {
    width: 85%;
    max-width: 1000px;
    background: #11141d;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    text-align: center;
}

h1 {
    font-family: "Fira Code", monospace;
    margin: 0;
    color: #3dcf91;
}

p {
    margin: 12px 0 24px;
    color: #3dcf91;
}

.panel {
    display: flex;
    gap: 20px;
    height: 400px;
}

.box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

textarea {
    flex: 1;
    resize: none;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 15px;
    overflow-y: auto;
    scrollbar-width: none;
    background: #8dcbb1;
}

.actions {
    display: flex;
    gap: 12px;
}

button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #3dcf91;
    color: #11141d;
    font-family: "Fira Code", monospace;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #285c4c;
}


.output-box {
    position: relative;
}

.copy-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 4px 10px;
    font-size: 13px;
    border-radius: 6px;
    background: #3b8a72;
    color: #fff;
    border: none;
    cursor: pointer;
}

.copy-btn:hover {
    background: #285c4c;
}

#outputArea {
    padding-top: 36px;
    overflow-y: auto;
    scrollbar-width: none;
}
