* {
    box-sizing: border-box;
}

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto Mono", monospace;
}

body {
    background: radial-gradient(1200px 600px at 50% -200px, #1f2937, #020617);
    color: #e5e7eb;
    min-height: 100vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home {
    position: absolute;
    top: 20px;
    left: 20px;
    width: fit-content;
    background: #38bdf8;
    color: #020617;
    padding: 12px 18px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
}

.home:hover {
    background: #0ea5e9;
}

h1 , p {margin: 0;}

.app {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 85%;
    width: 70%;

    background:linear-gradient(180deg,rgba(30, 41, 59, 0.85),rgba(15, 23, 42, 0.85));
    backdrop-filter: blur(16px) saturate(140%);
    -webkit-backdrop-filter: blur(16px) saturate(140%);

    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.12);

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.08);

    display: flex;
    flex-direction: column;
    gap: 24px;
}


.container {
    width: 60%;
    height: 90%; 
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}


textarea {
    flex: 1;
    width: 100%;
    resize: none;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 15px;
    overflow-y: auto;
    scrollbar-width: none;
    background: radial-gradient(1200px 600px at 0% -200px, #1f2937, #020617);
    border: 1px solid rgba(255, 255, 255, 0.12);
    color: #e5e7eb;
}


button {
    flex: 0;
    width: fit-content;
    background: #38bdf8;
    color: #020617;
    padding: 12px 18px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    font-family: "Fira Code", monospace;
    cursor: pointer;
    border: none;
}

button:hover {
    background: #0ea5e9;
}

#result {    
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #a8daf0;
    color: #11141d;
    font-family: "Fira Code", monospace;
    font-size: 16px;
    text-align: center;
}
