/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto Mono", monospace;
}

body {
    background: radial-gradient(1200px 600px at 50% -200px, #1f2937, #020617);
    color: #e5e7eb;
    min-height: 100vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Home button */
.home {
    position: absolute;
    top: 20px;
    left: 20px;
    width: fit-content;
    background: #38bdf8;
    color: #020617;
    padding: 12px 18px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
}

.home:hover {
    background: #0ea5e9;
}

/* App container */
.app {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 20px;
    height: fit-content;
    width: 70%;

    background:linear-gradient(180deg,rgba(30, 41, 59, 0.85),rgba(15, 23, 42, 0.85));
    backdrop-filter: blur(16px) saturate(140%);
    -webkit-backdrop-filter: blur(16px) saturate(140%);

    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.12);

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.08);

    display: flex;
    flex-direction: column;
    gap: 24px;
}


/* Converter layout */
.converter {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.group {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    font-size: 0.9rem;
    text-align: left;
    color: #e5e7eb;
}

/* Inputs */
input,
select {
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 15px;
    background: #a8daf0;
}


/* Responsive */
@media (max-width: 500px) {
    .converter {
        flex-direction: column;
    }
}
